/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//$import "compass/reset";

$instructionFontSize: 75%;

fieldset .instruction {

//  font-size: $instructionFontSize;

}

fieldset.otp-code-inputs {

  >div {
    padding:0 10px;
  }
  .ui-input-text {

    background-color: transparent;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;

    border-width:3px;

    input {
      background-color: transparent;
      text-align:center;
      border-width: 0 0 1 0;
    }
  }
}

.ui-corner-none {

  .ui-input-text {

    @include box-shadow(none);
    @include border-radius(0);
    background-color: transparent;
  }
  
}